autoindex off;

location ~ ^/.well-known(.*)$ { }

location = /404 {
  rewrite ^(.*)$ /404.php break;
}

location /logout {
  rewrite ^/logout?$ /sw-mod/out/logout.php;
}

location /sw {
  rewrite ^/sw-proses?$ /action/sw-proses.php break;
}

location /print {
  rewrite ^/print?$ /action/sw-print.php break;
}

location /timthumb {
  rewrite ^/timthumb?$ /sw-library/timthumb.php break;
}

location /oauth {
  rewrite ^/oauth/google?$ /action/sw-google.php break;
}

location / {
  if (!-e $request_filename){
    rewrite ^(.*)$ /index.php?mod=$1 break;
  }
}